<h2>4、初级合伙人股份 </h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>推荐人号码</th>
      <th>姓名</th>
      <th>股数</th>
      <th>邀请种子用户数</th>
    </tr>
  </thead>

  <tbody>
        <tr>
          <td>1</td>
          <td>崔伟</td>
          <td><%= 1000+10*teasersets.where(inviter_id:1).count %></td>
          <td><%= teasersets.where(inviter_id:1).count%></td>
        </tr>

        <tr>
          <td>2</td>
          <td>田广涛</td>
          <td><%= 1000+10*teasersets.where(inviter_id:2).count %></td>
          <td><%= teasersets.where(inviter_id:2).count%></td>
        </tr>


        <tr>
          <td>3</td>
          <td>史洪宾</td>
          <td><%= 1000+10*teasersets.where(inviter_id:3).count %></td>
          <td><%= teasersets.where(inviter_id:3).count%></td>
        </tr>


        <tr>
          <td>4</td>
          <td>张鹏</td>
          <td><%= 1000+10*teasersets.where(inviter_id:4).count %></td>
          <td><%= teasersets.where(inviter_id:4).count%></td>
        </tr>


        <tr>
          <td>5</td>
          <td>黄佳琦</td>
          <td><%= 1000+10*teasersets.where(inviter_id:5).count %></td>
          <td><%= teasersets.where(inviter_id:5).count%></td>
        </tr>


        <tr>
          <td>6</td>
          <td>石磊</td>
          <td><%= 1000+10*teasersets.where(inviter_id:6).count %></td>
          <td><%= teasersets.where(inviter_id:6).count%></td>
        </tr>


        <tr>
          <td>7</td>
          <td>胡中辉</td>
          <td><%= 1000+10*teasersets.where(inviter_id:7).count %></td>
          <td><%= teasersets.where(inviter_id:7).count%></td>
        </tr>


        <tr>
          <td>8</td>
          <td>李海彬</td>
          <td><%= 1000+10*teasersets.where(inviter_id:8).count %></td>
          <td><%= teasersets.where(inviter_id:8).count%></td>
        </tr>


        <tr>
          <td>9</td>
          <td>刘毅</td>
          <td><%= 1000+10*teasersets.where(inviter_id:9).count %></td>
          <td><%= teasersets.where(inviter_id:9).count%></td>
        </tr>


        <tr>
          <td>10</td>
          <td>朱峰</td>
          <td><%= 1000+10*teasersets.where(inviter_id:10).count %></td>
          <td><%= teasersets.where(inviter_id:10).count%></td>
        </tr>


  </tbody>
</table>


<h2>4、种子用户 </h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>序号</th>
      <th>初级合伙人-inviteid</th>
      <th>种子用户email</th>
    </tr>
  </thead>

  <tbody>
    <% i=1 %>
    <% teasersets.each do |teaserset| %>
      <% if(!teaserset.email.blank?)  %>
        <tr>
          <td><%= i %></td>
          <td><%= teaserset.inviter_id %></td>
          <td><%= teaserset.email %></td>
        </tr>
        <% i=i+1 %>
     <% end %>
    <% end %>
  </tbody>
</table>

<!--
        <td><%#= comment.body %></td>
        <td><%#= link_to 'Show', comment %></td>
        <td><%#= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%#= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-->        
