<!--<h2 class="pdfremove">3、添加场景</h2> -->

<div class="pdfremove">
<%= bootstrap_form_for(newcomment) do |f| %>
  <% if newcomment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(newcomment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% newcomment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.hidden_field :user_id, :value =>current_user.id %>
    <%= f.hidden_field :idea_id,:value => linkidea_id %>

    <%= f.text_area :body,hide_label: :true %>

  <div class="actions">
    <%= f.submit "新增应用场景", class: "btn btn-success" %>
  </div>
<% end %>
</div>
<%#= render 'form' %>

<%#= link_to 'Back', comments_path %>
