<h2> 2、朋友评论 </h2>


<table class="table table-striped">
  <thead>
    <tr>
      <th class="canvas-table-attr">朋友名</th>
<!--      <th>Idea</th>		-->
      <th>评论内容</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% comments.each do |comment| %>
      <tr>
        <td><%= comment.user.email %></td>
<!--        <td><%= comment.idea_id %></td>	-->
        <td><%= comment.body %></td>
<!--        <td><%= link_to 'Show', comment %></td>		-->
        <td><%= link_to '修改', edit_comment_path(comment) %></td>
        <td><%= link_to '删除', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>