	<div class = "container">
		<h1>邀请推广者进来查看自己的股份额</h1>

	    <%= bootstrap_form_tag url:'/ideas/invitesharersendmail' do |f| %>
	      <%= f.text_field(:friend_emails, label:"朋友邮箱（多邮箱地址之间；相隔）",placeholder:"tom@abc.com;jerry@163.com") %>
	      <%= f.text_field(:email_title, label:"邀请信主题",value:"看看你通过朋友圈分享得到了多少股份？！") %>
	      <%= f.text_area(:email_content,label:"邀请信内容",value:"Hi 股东:

感谢你朋友圈的分享，现在该进来看看你的成果，占有多少股份了。

必须提醒您，您可能需要先简单注册productgaga.com后，才能开始正常的查看。
				
") %>
	      <%= hidden_field_tag(:idea_id,params[:id]) %>
	      <%= f.primary("邀请") %>

	    <% end %>
	</div>
