<style type="text/css">
  <%= Rails.application.assets.find_asset('ideas.css').to_s.html_safe %>
</style>     

<style type="text/css">
  <%= Rails.application.assets.find_asset('bootstrap.css').to_s.html_safe %>
</style>     

<div class="container">

<% flash.each do |key, value| %>
        <div class="alert alert-success" role="alert"><%= notice %></div>
<% end %>

<%#= link_to '修改', edit_idea_path(@idea) %> 
<%#= link_to '返回', current_user %> 
<%#= link_to '关联', share_path(@idea) %> 
<%#= link_to '点评', {:controller =>"comments", :action =>"new",:linkidea_id=>@idea.id} %>

<div class="user-share-part">

<h1><%= @idea.name %>
  
</h1>
<small><%= @idea.intro %></small>


</div>

<div class="ideas-list">
<!-- <h2>0、受邀的朋友 </h2>  -->

  <% if current_user.id == ideaowner(@idea).user_id %>
      <%= link_to '更新通知', updatejuniorpartner_path(@idea)%>
  <% end %>


<div class="changjinglist">
<h2 class="pdfremove"> 1、应用场景 </h2>
<%= render :partial=>"remarkslist",:locals=>{:comments=>@idea.comments} %>
</div>

<%= render :partial=>"newremark", :locals=>{:newcomment=>Comment.new,:linkidea_id=>@idea.id} %>


<h2>1、初级合伙人合同</h2>


<h2>2、商业规划书 </h2>


<h2>3、功能投票 </h2>
<p>暂时没有功能，等待想法创始人提供。</p>

<h2>4、产品原型 </h2>
<p>暂时没有产品原型，等待想法创始人提供。</p>


<%#= render :partial=>"remarkslist",:locals=>{:comments=>@idea.comments} %>

<%#= render :partial=>"newremark", :locals=>{:newcomment=>Comment.new,:linkidea_id=>@idea.id} %>

<h2 id="canvas-title">5、商业模型 Business Model Canvas 
  <small><%= link_to ' 下载 ', idea_path(@idea,format:'pdf') %>
          <% if current_user.id == ideaowner(@idea).user_id %>
            <%= link_to ' 修改', edit_idea_path(@idea) %>  
          <% end %>
  
  </small></h2>
<br>
<!--
<i id="menu-toggle" class = "glyphicon glyphicon-heart-empty"></i>
-->
<div class ="canvas-body">
      <body class='canvas show with-canvas updateable-canvas'></body>

      <div class='content-container'>

      <div id='content_area'>


      <div id='canvas'>

      <table class='canvas'>
      <tr>
      <td class='area' height='66%' rowspan='2' width='20%'>

      <table class="cell-container" style="display: table;">
        <tbody>
          <tr>
            <td class="canvas-cell canvas-cell-main">
              <h3 class="main">
                <div class="area-title">合作伙伴</div>
              </h3>
                <div class="show">
                    <span class="help-block"><%= simple_format @idea.key_partners %></span>
                </div>
              </td>
          </tr>
        </tbody>
      </table>
      </td>


      <td class='area' height='33%' width='20%'>

      <table class="cell-container" style="display: table;">
        <tbody>
          <tr>
            <td class="canvas-cell canvas-cell-main">
              <h3 class="main">
                <div class="area-title">核心业务</div>
              </h3>
                  <div class="show">
                    <span class="help-block"><%= simple_format @idea.key_activities %></span>
                  </div>
            </td>
          </tr>
        </tbody>
      </table>
      </td>


      <td class='area' colspan='2' height='66%' rowspan='2' width='20%'>

      <table class="cell-container" style="display: table;">
        <tbody>
          <tr>
            <td class="canvas-cell canvas-cell-main">
              <h3 class="main">
                <div class="area-title">价值主张</div>
              </h3>
                  <div class="show">
                    <span class="help-block"><%= simple_format @idea.value_proposition %></span>
                  </div>
            </td>
          </tr>
         </tbody>
       </table>

      </td>



      <td class='area' height='33%' width='20%'>
      <table class="cell-container" style="display: table;">
        <tbody>
          <tr>
            <td class="canvas-cell canvas-cell-main">
              <h3 class="main"><div class="area-title">客户关系</div></h3>
                  <div class="show">
                    <span class="help-block"><%= simple_format @idea.customer_relationships %></span>
                  </div>
            </td>
          </tr>
        </tbody>
      </table>
      </td>



      <td class='area' height='66%' rowspan='2' width='20%'>
        <table class="cell-container" style="display: table;">
          <tbody>
            <tr>
              <td class="canvas-cell canvas-cell-main">
                <h3 class="main">
                  <div class="area-title">客户细分</div>
                </h3>
                    <div class="show">
                      <span class="help-block" title="Click to edit"><%= simple_format @idea.customer_segments %></span>
                    </div>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      </tr>

      <tr>
      <td class='area' height='33%' width='20%' style="height:220px;">
        <table class="cell-container" style="display: table;">
          <tbody>
            <tr>

              <td class="canvas-cell canvas-cell-main">
                <h3 class="main">
                  <div class="area-title">核心资源</div>
                </h3>
                    <div class="show">
                      <span class="help-block" title="Click to edit"><%= simple_format @idea.key_resources %></span>
                    </div>
            </td>

          </tr>
        </tbody>
      </table>
      </td>

      <td class='area' height='33%' width='20%'>
        <table class="cell-container" style="display: table;">
          <tbody>
            <tr>
              <td class="canvas-cell canvas-cell-main">
                <h3 class="main">
                  <div class="area-title">客户渠道</div>
                </h3>
                    <div class="show">
                      <span class="help-block" title="Click to edit"><%= simple_format @idea.channels %></span>
                    </div>

              </td>
            </tr>
          </tbody>
        </table>
      </td>

      </tr>
      <tr>
      <td class='area' colspan='3' height='33%' width='50%'>
        <table class="cell-container" style="display: table;">
          <tbody>
            <tr>
              <td class="canvas-cell canvas-cell-main">
                <h3 class="main">
                  <div class="area-title">成本</div>
                </h3>
                    <div class="show">
                      <span class="help-block" title="Click to edit"><%= simple_format @idea.cost_structure %></span>
                    </div>
              </td>
            </tr>
          </tbody>
        </table>

      </td>

      <td class='area' colspan='3' height='33%' width='50%'>

        <table class="cell-container" style="display: table;">
          <tbody>
            <tr>
              <td class="canvas-cell canvas-cell-main">
                <h3 class="main">
                  <div class="area-title">收入来源</div>
                </h3>
                    <div class="show">
                      <span class="help-block" title="Click to edit"><%= simple_format @idea.revenue_streams %></span>
                    </div>
              </td>
            </tr>
          </tbody>
        </table>

      </td>
      </tr>
      </table>


      </div>

      </div>

      </div>

</div>   

</div>
</div>

<!-- Modal -->
<div class="modal fade pdfremove" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">商业模型介绍</h4>
      </div>
      <div class="modal-body">
      <p>
    Business Model Canvas 是销售过百万、被翻译成 30 种语言的畅销书的核心思想。其设计简单易懂，主要用来帮创业者建立、可视化、测试自身的商业模式的可行性，从而避免挥霍资金或者盲目得叠加功能。小公司用它开辟新领域，GE, PG 以及 3M 之类的大公司也可以通过它探索新模式，维持行业竞争力。 
    </p>
    <%= image_tag("business-model-canvas.jpg",height:'300',width:'500') %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>








<!--
  <div class = "container">

  <div class="ideas-list">
    <h1>签约流程</h1>

    <blockquote>
        <p>1. 获取合同范本 <span><small>http://pan.baidu.com/s/1qWz8DWw</small></span></p>   
        <p>2. 修改合同<span><small>根据您自己的想法、项目，对合同范本进行修改。</small></span></p>
        <p>3. 发送合同<span><small>通过下面邮件发送，把合同发给初级合伙人们。</small></span></p>
        <p>4. 确认，收费<span><small>初级合伙人确认过合同，仍愿意加入的话，支付300元给您。</small></span></p>    
        <p>5. 缴费<span><small>如果您愿意和productgaga.com合作的话，缴费2000元，使用服务。</small></span></p>   
        <p>6. 结束<span><small>2周内，productgaga.com将提交服务成果。</small></span></p>
      
      </blockquote>

      <h2>发送合同给初级合伙人们</h2>
      <%#= bootstrap_form_tag("/ideas/sendmail",method:"get") do %>
      <%#= bootstrap_form_tag url:'/ideas/' do |f| %>
        <%#= f.text_field :friend_name, label:"朋友名字" %>
        <%#= hidden_field_tag(:friend_email, nil) %>
        <%#= f.text_field(:email_title, label:"主题",value:"合同初稿，欢迎意见") %>
        <%#= f.text_area(:email_content,label:"通知信内容",value:"Hi Buddy:
之前和你沟通的那个想法，最近有一些更新补充，进来看看呗。；）
谢谢先啦！") %>
        <%#= hidden_field_tag(:idea_id,params[:id]) %>
        <%#= f.primary("发送合同") %>

      <%# end %>

      <br>
  </div>
  </div>
-->






