<style type="text/css">
  <%= Rails.application.assets.find_asset('ideas.css').to_s.html_safe %>
</style>     

<style type="text/css">
  <%= Rails.application.assets.find_asset('bootstrap.css').to_s.html_safe %>
</style>     

<div class="container">

<% flash.each do |key, value| %>
        <div class="alert alert-success" role="alert"><%= notice %></div>
<% end %>

<%#= link_to '修改', edit_idea_path(@idea) %> 
<%#= link_to '返回', current_user %> 
<%#= link_to '关联', share_path(@idea) %> 
<%#= link_to '点评', {:controller =>"comments", :action =>"new",:linkidea_id=>@idea.id} %>

<div class="user-share-part">

<h1><%= @idea.name %>
  
</h1>
<small><%= @idea.intro %></small>

<%= link_to '返回产品通用页面', @idea,class:"btn btn-lg btn-info" %>  

<% if current_user.id == ideaowner(@idea).user_id %>
      <%= link_to '更新通知', updatejuniorpartner_path(@idea),class:"btn btn-lg btn-primary"%>
<% end %>


</div>

<div class="ideas-list">
<!-- <h2>0、受邀的朋友 </h2>  -->



<h2>1、初级合伙人合同</h2>
<%= link_to "点击查看", 'http://yun.baidu.com/share/link?shareid=1222575103&uk=844900100',:target=> "_blank" %>

<h2>2、商业计划书 </h2>
<%= link_to "点击查看", 'http://yun.baidu.com/share/link?shareid=3737190773&uk=844900100',:target=> "_blank" %>

<h2>3、产品原型 </h2>

<%= render :partial=>"kuailvindex",:locals=>{:teasersets=>Teaserset.all} %>


</div>
</div>


<!--
  <div class = "container">

  <div class="ideas-list">
    <h1>签约流程</h1>

    <blockquote>
        <p>1. 获取合同范本 <span><small>http://pan.baidu.com/s/1qWz8DWw</small></span></p>   
        <p>2. 修改合同<span><small>根据您自己的想法、项目，对合同范本进行修改。</small></span></p>
        <p>3. 发送合同<span><small>通过下面邮件发送，把合同发给初级合伙人们。</small></span></p>
        <p>4. 确认，收费<span><small>初级合伙人确认过合同，仍愿意加入的话，支付300元给您。</small></span></p>    
        <p>5. 缴费<span><small>如果您愿意和productgaga.com合作的话，缴费2000元，使用服务。</small></span></p>   
        <p>6. 结束<span><small>2周内，productgaga.com将提交服务成果。</small></span></p>
      
      </blockquote>

      <h2>发送合同给初级合伙人们</h2>
      <%#= bootstrap_form_tag("/ideas/sendmail",method:"get") do %>
      <%#= bootstrap_form_tag url:'/ideas/' do |f| %>
        <%#= f.text_field :friend_name, label:"朋友名字" %>
        <%#= hidden_field_tag(:friend_email, nil) %>
        <%#= f.text_field(:email_title, label:"主题",value:"合同初稿，欢迎意见") %>
        <%#= f.text_area(:email_content,label:"通知信内容",value:"Hi Buddy:
之前和你沟通的那个想法，最近有一些更新补充，进来看看呗。；）
谢谢先啦！") %>
        <%#= hidden_field_tag(:idea_id,params[:id]) %>
        <%#= f.primary("发送合同") %>

      <%# end %>

      <br>
  </div>
  </div>
-->






