<style type="text/css">
  <%= Rails.application.assets.find_asset('ideas.css').to_s.html_safe %>
</style>     

<style type="text/css">
  <%= Rails.application.assets.find_asset('bootstrap.css').to_s.html_safe %>
</style>     

<div class="container-fluid">

<% flash.each do |key, value| %>
        <div class="alert alert-success" role="alert"><%= notice %></div>
<% end %>

<%#= link_to '修改', edit_idea_path(@idea) %> 
<%#= link_to '返回', current_user %> 
<%#= link_to '关联', share_path(@idea) %> 
<%#= link_to '点评', {:controller =>"comments", :action =>"new",:linkidea_id=>@idea.id} %>


<div class="ideas-brief-part">

<h1><%= @idea.name %></h1>
<h2><%= @idea.intro %></h2>

</div>

<%= link_to '返回产品页面', @idea,class:"btn btn-lg btn-info" %>  

<%# if current_user.id == ideaowner(@idea).user_id %>
      <%#= link_to '更新通知', updatejuniorpartner_path(@idea),class:"btn btn-lg btn-primary"%>
<%# end %>


</div>

<div class="ideas-list">

<%#= render :partial=>"kuailvindex",:locals=>{:teasersets=>Teaserset.all} %>

<h1>资金情况 </h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>日期</th>
      <th>收入支出</th>
      <th>金额(元)</th>
      <th>剩余总额(元)</th>

    </tr>
  </thead>

  <tbody>
        <tr>
          <td>2015-1-15</td>
          <td>6位中级合伙人融资</td>
          <td>+18000</td>
          <td>18000</td>
        </tr>

        <tr>
          <td>2015-1-30</td>
          <td>小潘研发开发费用支出</td>
          <td>-400</td>
          <td>17600</td>
        </tr>        

        <tr>
          <td>2015-2-25</td>
          <td>4位高级合伙人融资</td>
          <td>+24000</td>
          <td>41600</td>
        </tr> 

        <tr>
          <td>2015-2-28</td>
          <td>2位高级合伙人融资</td>
          <td>+12000</td>
          <td>53600</td>
        </tr>        

  </tbody>
</table>

<!--
<table class="table table-striped">
  <thead>
    <tr>
      <th>序号</th>
      <th>初级合伙人-inviteid</th>
      <th>种子用户email</th>
    </tr>
  </thead>

  <tbody>
    <%# i=1 %>
    <%# Teaserset.all.each do |teaserset| %>
      <%# if(!teaserset.email.blank?)  %>
        <tr>
          <td><%#= i %></td>
          <td><%#= teaserset.inviter_id %></td>
          <td><%#= teaserset.email %></td>
        </tr>
        <%# i=i+1 %>
     <%# end %>
    <%# end %>
  </tbody>
</table>
-->

</div>
</div>





