	<div class = "container">
		<h1>邀请朋友来提建议</h1>

	    <%#= bootstrap_form_tag("/ideas/sendmail",method:"get") do %>
	    <%= bootstrap_form_tag url:'/sendmail' do |f| %>
	      <%#= f.text_field :friend_name, label:"朋友名字" %>
	      <%= f.text_field(:friend_email, label:"朋友邮箱") %>
	      <%= f.text_field(:email_title, label:"邀请信主题") %>
	      <%= f.text_area(:email_content,label:"邀请信内容") %>
	      <%#= hidden_field_tag(:idea_id,params[:id]) %>
	      <%= f.primary("邀请") %>

	    <% end %>
	</div>
