	<div class = "container">
		<h1>邀请朋友来提建议</h1>

	    <%= form_tag("/ideas/sendmail",method:"get") do %>
	      <%= text_field_tag(:friend_name,"Friend Name:") %>
	      <%= text_field_tag(:friend_email,"Friend Email:") %>
	      <%= text_field_tag(:email_title,"Email Title:") %>
	      <%= text_area_tag(:email_content,"Email Content:") %>
	      <%#= hidden_field_tag(:idea_id,params[:linkidea_id]) %>
	      <%= submit_tag("Idea_Share") %>

	    <% end %>
	</div>
