<p id="notice"><%= notice %></p>

<%= link_to '修改', edit_idea_path(@idea) %> |
<%= link_to '返回', current_user %> |
<%= link_to '关联', {:controller =>"user_ideaships", :action =>"new", :linkidea_id =>@idea.id} %>


<table class="table table-striped">
  <tbody>
      <tr>
        <td>name:</td>
        <td><%= @idea.name %></td>
      </tr>
      <tr>
        <td>Intro:</td>
        <td><%= @idea.intro %></td>        
      </tr>
      </tr>
      <tr>
        <td>Customer segments:</td>
        <td><%= @idea.customer_segments %></td>        
      </tr>
      <tr>
        <td>Customer relationships:</td>
        <td><%= @idea.customer_relationships %></td>        
      </tr>      
      <tr>
        <td>Value proposition:</td>
        <td><%= @idea.value_proposition %></td>        
      </tr>      
      <tr>
        <td>Key activities:</td>
        <td><%= @idea.key_activities %></td>        
      </tr>      
      <tr>
        <td>Key partners:</td>
        <td><%= @idea.key_partners %></td>        
      </tr>      
      <tr>
        <td>Channels:</td>
        <td><%= @idea.channels %></td>        
      </tr>      
      <tr>
        <td>Key resources:</td>
        <td><%= @idea.key_resources %></td>        
      </tr>      
      <tr>
        <td>Revenue streams:</td>
        <td><%= @idea.revenue_streams %></td>        
      </tr>      
      <tr>
        <td>Cost structure:</td>
        <td><%= @idea.cost_structure %></td>        
      </tr>    
  </tbody>
</table>

