<style type="text/css">
  <%= Rails.application.assets.find_asset('ideas.css').to_s.html_safe %>
</style>     

<style type="text/css">
  <%= Rails.application.assets.find_asset('bootstrap.css').to_s.html_safe %>
</style>     

<!--
<script type="text/javascript">
  $(document).ready(function(){
    $("#warn-one-click").click(function(){
      alert("正在处理中，请稍等5秒，请勿重复点击！");
    });
  });
</script>
-->

<div class="container-fluid">

<% flash.each do |key, value| %>
        <div class="alert alert-success" role="alert"><%= notice %></div>
<% end %>

<%#= link_to '修改', edit_idea_path(@idea) %> 
<%#= link_to '返回', current_user %> 
<%#= link_to '关联', share_path(@idea) %> 
<%#= link_to '点评', {:controller =>"comments", :action =>"new",:linkidea_id=>@idea.id} %>

<div class="ideas-brief-part">

<h1><%= @idea.name %></h1>
<h2><%= @idea.intro %></h2>

</div>

<div class="ideas-list">




    <% if idea_stage(@idea) == 1 %>

          <h1 class="pdfremove">1、初级合伙人权益 <small><%= link_to " 更多信息", '/static_pages/about#juniorparterintro' %></small></h1>
          <p class="pdfremove"><span>300元成为众筹项目合伙人，6个月后拥有事业，3年后财务自由。</span></p>
          <p class="pdfremove">您将拥有的权益：</p>
        
          <blockquote class="pdfremove">
          <p>a. 知情权<span><small>之后，非合伙人将被关在门外，无法得知想法商业化进展。</small></span></p>   
          <p>b. 股权<span><small>将拥有未来公司的创业原始股 1% 。</small></span></p>
          <p>c. 商业计划书<span><small>包括该想法的市场规模、产品研发、推广路径等。</small></span></p>
          <p>d. 网站<span><small>PC+移动端网站，将充分体现想法，并可收集客户反馈。</small></span></p>    
          <p>e. 微信公众服务<span><small>公众账号服务，便于服务更多的群体。</small></span></p>   
          <p>f. 优先投资权<span><small>优先于非合伙人购买股权。</small></span></p>
        
          </blockquote>

    <% end %>

    <% if idea_stage(@idea) == 2 %>

          <h1 class="pdfremove">1、合伙人须知 <small><%= link_to " 权益", '/static_pages/about#seniorparterintro' %>
            <br>
            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#juniorparterinfo">初级合伙人信息</button> 
            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#seniorparterinfo">中级合伙人信息</button> 
          </small></h1>

          <h2 class="pdfremove"><span>招募中级合伙人中</span>，还有<span><%= 10 - ideaseniorstakeholders(@idea).count %>位</span>名额。</h2>

          <p class="pdfremove">- <mark>投资3000元，获得1500股，1.5%股权。</mark></p>
          <p class="pdfremove"><mark>- 预期将在半年内，2.5倍投资回报。</mark></p>
          <p class="pdfremove">- 本轮融资3万，用于产品实现、运营、推广。</p>

          <h1 class="pdfremove">2、当前进展 </h1>
          <h2 class="pdfremove">项目经过初期推广，已有<span>300+注册用户，20+普通股东，10位初级合伙人,<%= ideaseniorstakeholders(@idea).count %>名中级合伙人。</span></h2>

          <p class="pdfremove">- 微信公众号 <mark>kuailv-club</mark> 。</p>
          <p class="pdfremove">- APP产品原型设计实现。<%= link_to '查看', "https://popapp.in/projects/54b64299fedcd1660dc8e532/preview" %></p>
          <p class="pdfremove">- 基础服务申请完毕：域名、服务器等。</p>

          <h1 class="pdfremove">3、风险投资协议 <small><%= link_to " 正式版", 'http://yun.baidu.com/share/link?shareid=2334525164&uk=844900100' %></small></h1>
          <h2 class="pdfremove">召集齐10个中级合伙人后，签署协议。人不齐则退钱。</h2>            
    <% end %>

    <div class="changjinglist">
    <h1 class="pdfremove"> 4、应用场景 </h1>
    <h2 class="pdfremove">快捷安全，找到心仪驴友，一起去旅行。</h2>
      <%= render :partial=>"remarkslist",:locals=>{:comments=>@idea.comments} %>
    </div>

    <% if !current_user.nil? %> 
      <%= render :partial=>"newremark", :locals=>{:newcomment=>Comment.new,:linkidea_id=>@idea.id} %>
    <% end %>



    <h1>5、商业模型 
      <small><%#= link_to ' 更多信息 ', idea_path(@idea,format:'pdf') %>
      <%= link_to ' 更多信息 ', 'http://yun.baidu.com/share/link?shareid=2601939260&uk=844900100' %>
      <% if !current_user.nil? && user_is_ideaowner(@idea,current_user)%> 
      <% end %>
      </small>
    </h1>
    <h2 class="pdfremove">A. 快驴将如何盈利：</h2>

    <dl class="pdfremove">
    <dt>收费会员</dt><dd>提供增值服务（参考陌陌，linkedin）。</dd>
    <dt>广告收入</dt><dd>基于驴友需求大数据分析，定制化广告推广，和广告主、旅行社分润提成。</dd>
    <dt>旅游产品收入</dt><dd>度假旅游产品套餐推荐，和旅行社、途牛等进行产品分润。</dd>
    </dl>

    <h2 class="pdfremove">B. 如何实现：</h2>

    <p class="pdfremove">通过程序自动化从国内外网站收集约伴信息，根据用户需求，进行快速匹配和反馈。</p>

    <h1 class="pdfremove">6、股份 </h1>
    <h2 class="pdfremove">当前产品，初级合伙人共占有10000股，普通股东共占有5000股。</h2>


  <% if !current_user.nil? %>
    <% if user_is_ideaowner(@idea,current_user) %>

          <h1 class="pdfremove">7、创始人管理 </h1>
          <h2 class="pdfremove">A、操作  </h2>          
          <p>
                  <%= link_to '找人帮忙', share_path(@idea),class:"col-xs-12 col-md-1" %> 
                  <%= link_to '通知受邀朋友', updatestatus_path(@idea),class:"col-xs-12 col-md-1"%>
                  <%= link_to ' 商业模型修改', edit_idea_path(@idea),class:"col-xs-12 col-md-1" %>  
          </p>
          
              <div class="businesscanvas">
              <div class ="canvas-body">
                <body class='canvas show with-canvas updateable-canvas'></body>

                <div class='content-container'>

                <div id='content_area'>


                <div id='canvas'>

                <table class='canvas'>
                <tr>
                <td class='area' height='66%' rowspan='2' width='20%'>

                <table class="cell-container" style="display: table;">
                  <tbody>
                    <tr>
                      <td class="canvas-cell canvas-cell-main">
                        <h3 class="main">
                          <div class="area-title">合作伙伴</div>
                        </h3>
                          <div class="show">
                              <span class="help-block"><%= simple_format @idea.key_partners %></span>
                          </div>
                        </td>
                    </tr>
                  </tbody>
                </table>
                </td>


                <td class='area' height='33%' width='20%'>

                <table class="cell-container" style="display: table;">
                  <tbody>
                    <tr>
                      <td class="canvas-cell canvas-cell-main">
                        <h3 class="main">
                          <div class="area-title">核心业务</div>
                        </h3>
                            <div class="show">
                              <span class="help-block"><%= simple_format @idea.key_activities %></span>
                            </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                </td>


                <td class='area' colspan='2' height='66%' rowspan='2' width='20%'>

                <table class="cell-container" style="display: table;">
                  <tbody>
                    <tr>
                      <td class="canvas-cell canvas-cell-main">
                        <h3 class="main">
                          <div class="area-title">价值主张</div>
                        </h3>
                            <div class="show">
                              <span class="help-block"><%= simple_format @idea.value_proposition %></span>
                            </div>
                      </td>
                    </tr>
                   </tbody>
                 </table>

                </td>



                <td class='area' height='33%' width='20%'>
                <table class="cell-container" style="display: table;">
                  <tbody>
                    <tr>
                      <td class="canvas-cell canvas-cell-main">
                        <h3 class="main"><div class="area-title">客户关系</div></h3>
                            <div class="show">
                              <span class="help-block"><%= simple_format @idea.customer_relationships %></span>
                            </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                </td>



                <td class='area' height='66%' rowspan='2' width='20%'>
                  <table class="cell-container" style="display: table;">
                    <tbody>
                      <tr>
                        <td class="canvas-cell canvas-cell-main">
                          <h3 class="main">
                            <div class="area-title">客户细分</div>
                          </h3>
                              <div class="show">
                                <span class="help-block" title="Click to edit"><%= simple_format @idea.customer_segments %></span>
                              </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                </tr>

                <tr>
                <td class='area' height='33%' width='20%' style="height:220px;">
                  <table class="cell-container" style="display: table;">
                    <tbody>
                      <tr>

                        <td class="canvas-cell canvas-cell-main">
                          <h3 class="main">
                            <div class="area-title">核心资源</div>
                          </h3>
                              <div class="show">
                                <span class="help-block" title="Click to edit"><%= simple_format @idea.key_resources %></span>
                              </div>
                      </td>

                    </tr>
                  </tbody>
                </table>
                </td>

                <td class='area' height='33%' width='20%'>
                  <table class="cell-container" style="display: table;">
                    <tbody>
                      <tr>
                        <td class="canvas-cell canvas-cell-main">
                          <h3 class="main">
                            <div class="area-title">客户渠道</div>
                          </h3>
                              <div class="show">
                                <span class="help-block" title="Click to edit"><%= simple_format @idea.channels %></span>
                              </div>

                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>

                </tr>
                <tr>
                <td class='area' colspan='3' height='33%' width='50%'>
                  <table class="cell-container" style="display: table;">
                    <tbody>
                      <tr>
                        <td class="canvas-cell canvas-cell-main">
                          <h3 class="main">
                            <div class="area-title">成本</div>
                          </h3>
                              <div class="show">
                                <span class="help-block" title="Click to edit"><%= simple_format @idea.cost_structure %></span>
                              </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </td>

                <td class='area' colspan='3' height='33%' width='50%'>

                  <table class="cell-container" style="display: table;">
                    <tbody>
                      <tr>
                        <td class="canvas-cell canvas-cell-main">
                          <h3 class="main">
                            <div class="area-title">收入来源</div>
                          </h3>
                              <div class="show">
                                <span class="help-block" title="Click to edit"><%= simple_format @idea.revenue_streams %></span>
                              </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </td>
                </tr>
                </table>


                </div>

                </div>

                </div>

                </div>      
                </div>

      <!--
      <footer><cite title="Source Title">Productgaga出品( www.productgaga.com) : 2周实现你的想法，还送1000元！</cite></footer>
      -->


            <h2 class="pdfremove">B、中级合伙人管理</h2>
              <% if idea_stage(@idea) == 2 %>

              <div class="stakeholderspart pdfremove">

              <ul class="list-group">
              <% ideaseniorstakeholders(@idea).each do |stakehoder| %>
                <li class="list-group-item">
                  <span class="badge">3000元</span>
                  <%= stakehoder.email %>
                </li>
                <% end %>
              </ul>
              </div>
              <% end %>

            <h2 class="pdfremove">C、初级合伙人管理</h2>

              <div class="stakeholderspart pdfremove">

                  <ul class="list-group">
                  <% ideastakeholders(@idea).each do |stakehoder| %>
                    <li class="list-group-item">
                      <span class="badge">300元</span>
                      <%= stakehoder.email %> 
                    </li>
                  <% end %>
                  </ul>
              </div>

            <h2 class="pdfremove">D、股东管理</h2>

                <% if idea_stage(@idea) == 2 %>

                  <h2 class="pdfremove">推荐人股份 (非合伙人)</h2>
                  <div class="table-responsive pdfremove">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>推荐人号码</th>
                        <th>推荐人邮箱</th>
                        <th>推荐人已有股份</th>
                        <th>已邀请人数</th>
                      </tr>
                    </thead>

                    <tbody>
                      <% for gudongid in 100..Teaserset.last.id %>
                        <% if Teaserset.where(inviter_id:gudongid).count > 0 %>
                          <tr>
                            <td><%= gudongid %></td>          
                            <td><%= Teaserset.find(gudongid).email %></td>
                            <td><%= Teaserset.where(inviter_id:gudongid).count*10 %></td>
                            <td><%= Teaserset.where(inviter_id:gudongid).count %></td>
                          </tr>
                        <% end %>  

                      <% end %>  
                    </tbody>
                  </table>
                  </div>
                <% end %>

            <h2 class="pdfremove">E、受邀朋友管理</h2>

                <div class="invitedfriendspart pdfremove">

                      
                    <ul class="list-group">  
                      <%  ideafollowers(@idea).each do |friendslist| %>
                        <% if friendslist.user_id.nil? %>
                            <li class="list-group-item">
                            <span class="glyphicon glyphicon-eye-close"></span> <%= friendslist.email %>
                            <span class="badge"><%= link_to '确认为初级合伙人',:controller => "ideas", :action =>"donate", :partnerid => friendslist.user_id %></span>
                            <span class="badge"><%= link_to '确认为中级合伙人', :controller => "ideas", :action =>"p2donate", :partnerid => friendslist.user_id%></span>

                            <span class="badge"><%= link_to '删除', friendslist, method: :delete, data: { confirm: '您确定吗?' } %></span>

                            </li>
                        <% else  %>
                          <li class="list-group-item">
                            <span class="glyphicon glyphicon-eye-open"></span> <%= friendslist.email %>
                            <% if friendslist.p1donate != 300 %>

                            <span class="badge"><%= link_to '确认为初级合伙人',:controller => "ideas", :action =>"donate", :partnerid => friendslist.user_id %></span>

                            <% end %>
                            <% if friendslist.p2donate != 3000 %>
                            <span class="badge"><%= link_to '确认为中级合伙人', :controller => "ideas", :action =>"p2donate", :partnerid => friendslist.user_id%></span>
                            <% end %>

                          </li>
                        <% end %>        
                      <% end %>
                    </ul>
                </div>


            

            <% end %>
          <% end %>
    </div>
  </div>

<!--  <a class="btn btn-lg btn-danger" href="#myModal" role="button" data-toggle="modal">投资3000元，成为中级合伙人<a>-->


  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
        
      <% case idea_stage(@idea) %>
        <% when 1 %>
          <button type="button" class="btn btn-danger btn-lg col-xs-12 col-md-12" data-toggle="modal" data-target="#myModal">投资300元，成为初级合伙人  </button>    
        <% when 2 %>
          <button type="button" class="btn btn-danger btn-lg col-xs-12 col-md-12" data-toggle="modal" data-target="#myModal">投资3000元，成为中级合伙人  </button>    
        <% when 3 %>
          <button type="button" class="btn btn-danger btn-lg col-xs-12 col-md-12" data-toggle="modal" data-target="#myModal">投资10000元，成为高级合伙人  </button>   
        <% else %>
          欢迎成为我们的投资合伙人！
      <% end %>

    </div>
  </nav>


  <!-- Modal -->
  <div class="modal fade pdfremove" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">投资流程</h4>
          </div>
          
          <div class="modal-body">
              <h4>1. 转账</h4>
                  微信支付：<%=User.where(id:ideaowner(@idea).user_id).first.wechatid %>
                  <br>
                  支付宝支付：<%=User.where(id:ideaowner(@idea).user_id).first.alipayid %>
                  <br>
                  转账时，请备注您的姓名！

              <h4>2. 权限</h4>
                    <% case idea_stage(@idea) %>
                    <% when 1 %>
                      <p>一旦想法创意人收到您的300元，他将会把您的权限提高为初级合伙人。</p> 
                    <% when 2 %>
                      <p>一旦想法创意人收到您的3000元，他将会把您的权限提高为中级合伙人。</p>
                    <% when 3 %>
                      <p>一旦想法创意人收到您的10000元，他将会把您的权限提高为高级合伙人。</p>
                    <% else %>
                      欢迎成为我们的投资合伙人！
                    <% end %>

                    <p>不用担心，他是你的朋友，等他的消息，等不及的话，就微信催他一下！；）</p>

          </div>
                          
          <div class="modal-footer">

                  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>

                  <button type="button" class="btn btn-danger" data-dismiss="modal">转账后确认</button>
          </div>
        </div>
      </div>
  </div>


  <!-- Modal -->
  <div class="modal fade pdfremove" id="juniorparterinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">初级合伙人信息</h4>
          </div>
          
          <div class="modal-body">
              <div class="stakeholderspart pdfremove">

                  <ul class="list-group">
                  <% ideastakeholders(@idea).each do |stakehoder| %>
                    <li class="list-group-item">
                      <span class="badge">300元</span>
                      <%= stakehoder.email %> 
                    </li>
                  <% end %>
                  </ul>
              </div>


          </div>
                          
          <div class="modal-footer">

                  <button type="button" class="btn btn-danger" data-dismiss="modal">确认</button>
          </div>
        </div>
      </div>
  </div>

  <div class="modal fade pdfremove" id="seniorparterinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">中级合伙人信息</h4>
          </div>
          
          <div class="modal-body">
              <% if idea_stage(@idea) == 2 %>

              <div class="stakeholderspart pdfremove">

              <ul class="list-group">
              <% ideaseniorstakeholders(@idea).each do |stakehoder| %>
                <li class="list-group-item">
                  <span class="badge">3000元</span>
                  <%= stakehoder.email %>
                </li>
                <% end %>
              </ul>
              </div>
              <% end %>


          </div>
                          
          <div class="modal-footer">

                  <button type="button" class="btn btn-danger" data-dismiss="modal">确认</button>
          </div>
        </div>
      </div>
  </div>


    <!-- Onwer -->
          
          <%# case idea_user_type(@idea) %>
                  <%# when 1 %>
                    <%#= link_to '找人帮忙', share_path(@idea),class:"col-xs-12 col-md-1" %> 
                    <%#= link_to '通知受邀朋友', updatestatus_path(@idea),class:"col-xs-12 col-md-1"%>
                  <%# when 2 %>
                    <%#= link_to '找人帮忙', share_path(@idea),class:"btn btn-lg btn-danger col-xs-12 col-md-2" %> 
                    <%#= link_to '等待其他初级合伙人加入中...', "#",class:"btn btn-lg btn-info col-xs-12 col-md-2" %>
                  <%# when 3 %>
                    <%#= link_to '找人帮忙', share_path(@idea),class:"btn btn-lg btn-danger col-xs-12 col-md-2" %> 
                  <%# when 4 %>
                  <!--  <a class="btn btn-lg btn-danger col-xs-12 col-md-2" href="#myModal" role="button" data-toggle="modal">投资300元，成为初级合伙人<a>   -->   
                  <%# when 5 %>
                    <%#= link_to '找人帮忙', share_path(@idea),class:"btn btn-lg btn-danger col-xs-12 col-md-2" %> 
                    <%#= link_to '进入初级合伙人页面', junior_path(@idea),class:"btn btn-lg btn-info col-xs-12 col-md-2" %>
                    <%#= link_to '等待其他中级合伙人加入中...', "#",class:"btn btn-lg btn-info col-xs-12 col-md-2" %>
                  <%# when 6 %>
                    <%#= link_to '找人帮忙', share_path(@idea),class:"btn btn-lg btn-danger col-xs-12 col-md-2" %> 
                    <%#= link_to '进入初级合伙人页面', junior_path(@idea),class:"btn btn-lg btn-info col-xs-12 col-md-2" %>
                    <!--<a class="btn btn-lg btn-danger col-xs-12 col-md-2" href="#myModal" role="button" data-toggle="modal">投资3000元，成为中级合伙人<a>-->
                  <%# when 7 %>
                    <%#= link_to '找人帮忙', share_path(@idea),class:"btn btn-lg btn-danger col-xs-12 col-md-2" %> 
                    <%#= link_to '进入初级合伙人页面', junior_path(@idea),class:"btn btn-lg btn-info col-xs-12 col-md-2" %>
                    <%#= link_to '等待其他中级合伙人加入中...', "#",class:"btn btn-lg btn-info col-xs-12 col-md-2" %>   
                  <%# when 8 %>
                    <!--<a class="btn btn-lg btn-danger col-xs-12 col-md-2" href="#myModal" role="button" data-toggle="modal">投资3000元，成为中级合伙人<a>-->
                  <%# else %>
                    <!--puts "Hi !"-->
          <%# end %>
         

<!--          <h2 class="pdfremove">B、商业模型管理</h2> -->







