	<div class = "container">
		<h1>向朋友们更新想法进展</h1>

	    <%#= bootstrap_form_tag("/ideas/sendmail",method:"get") do %>
	    <%= bootstrap_form_tag url:'/ideas/sendmail' do |f| %>
	      <%#= f.text_field :friend_name, label:"朋友名字" %>
	      <%= hidden_field_tag(:friend_email, nil) %>
	      <%= f.text_field(:email_title, label:"主题",value:"之前的想法有些更新！") %>
	      <%= f.text_area(:email_content,label:"通知信内容",value:"Hi Buddy:
之前和你沟通的那个想法，最近有一些更新补充，进来看看呗。；）
谢谢先啦！") %>
	      <%= hidden_field_tag(:idea_id,params[:id]) %>
	      <%= f.primary("更新") %>

	    <% end %>
	</div>
