<% if uiships %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>想法名</th>
      <th>简介</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% uiships.each do |uiship| %>
    <%# for idea in @ideas %>
      <tr>
        <td><%= uiship.idea.name %></td>
        <td><%= uiship.idea.intro %></td>
        <td><%= link_to '详情', uiship.idea %></td>

        <%#= link_to 'Edit', edit_idea_path(idea) %>
        <%#= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %>

      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<% if uishipreviewers %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>想法名</th>
      <th>简介</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% uishipreviewers.each do |uishipreviewer| %>
      <tr>
        <td><%= uishipreviewer.idea.name %></td>
        <td><%= uishipreviewer.idea.intro %></td>
        <td><%= link_to '详情', uishipreviewer.idea %></td>

        <%#= link_to 'Edit', edit_idea_path(idea) %>
        <%#= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %>

      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<%= link_to '创建新想法', new_idea_path %>
