<!DOCTYPE html>
<html>
  <head>
    <title>快驴,寻找前往世界各地的驴友</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="jumbotron">  	
    <div class="container">

      <% flash.each do |key, value| %>
        <div class="alert alert-warning" role="alert"><%= value %></div>
      <% end %>

      <div class="row">

      <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0  signupForm">
        <h1 class="fontlato">快驴，寻找前往世界各地的驴友。</h1>
        <h2 class="fontlato">最快最简单的方式寻找驴友。</h2>

		<fieldset>
			<div class="signup-form-block">
				<div class="row">

					<%#= form_tag teasersets_path,:class =>"form-horizontal",:role =>'form' do %>
					<%= bootstrap_form_for Teaserset.new do |f| %>

            <div class="col-md-4 col-sm-4 ">
<!--              <input type="text" placeholder="电话号码" class="form-control input-lg input-bigger" name="phone" id="phone" value="" autofocus=""> -->
              <%= f.text_field :email,hide_label: :true,placeholder:"填写您的电子邮箱", class:"form-control input-lg input-bigger" %>

            </div>

<!--							<input type="text" placeholder="电话号码" class="form-control input-lg input-bigger" name="phone" id="phone" value="" autofocus="">	-->
<!--
            <div class="col-md-4 col-sm-4 ">
							<%#= f.text_field :phone,hide_label: :true,placeholder:"电话号码", class:"form-control input-lg input-bigger" %>

						</div>
-->
						<div class="col-md-4 col-sm-4 ">
<!--							<input type="text" placeholder="受邀密码" class="form-control input-lg input-bigger" name="inviter_id" id="inviter_id" value="">	-->
        				<%= f.text_field :inviter_id,hide_label: :true,placeholder:"推荐人号码", class:"form-control input-lg input-bigger" %>
						</div>

						<div class="col-md-4 col-sm-4">
<!--
						<button type="submit" id="validation" class="btn btn-lg btn-block btn-success btn-uppercase btn-bigger">尽 快 使 用</button>-->
						<%= f.submit "第一时间通知我", class:"btn btn-lg btn-block btn-success btn-uppercase btn-bigger" %>
						</div>


					<% end %>


      <%#= bootstrap_form_for Teaserset.new do |f| %>

        <%#= f.text_field :phone,hide_label: :true,placeholder:"电话号码", class:"input-lg" %>

        <%#= f.text_field :inviter_id,hide_label: :true,placeholder:"受邀密码", class:"input-lg" %>
        

        <%#= f.submit "登记", class:"btn btn-success btn-lg" %>
      <%# end %>



				</div>
			</div>
		</fieldset>



      </div>        
      </div>
  	</div>

  </div>

  </body>
</html>


