<!--
	<div class = "container">
		<h1>邀请朋友来提建议</h1>

	    <%= form_tag("/user_ideaships/create",method:"get") do %>

	      <%#= label_tag("user_id") %>
	      <%#= number_field_tag(:user_id) %>
	      <%= text_field_tag(:friend_name) %>
	      <%= text_field_tag(:friend_email) %>
	      <%= text_field_tag(:email_title) %>
	      <%= text_field_tag(:email_content) %>
	      <%= hidden_field_tag(:idea_id,params[:linkidea_id]) %>
	      <%= submit_tag("关联") %>

	    <% end %>
	</div>
-->