    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <%= link_to "快钱海外钱包", root_path, class:"navbar-brand" %>

          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "首页", root_path %></li>
              <% if signed_in? %>
                <li><%= link_to "用户", current_user %></li>
                <li>
                    <%= link_to "注销", signout_path, method: "delete" %>
                </li>
                  <% else %>
                  <li><%= link_to "登陆",signin_path %></li>
                  <% end %>
            </ul>
          </nav>

        </div>
    </nav>