<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

      <link rel="shortcut icon" href="/assets/favicon.ico">
      <title>ProductGaga,从想法到赚钱</title>
      <meta name="keywords" content="创业者服务" />
      <meta name="description" content="ProductGaga,帮助创业者募集资金，实现产品，寻找用户，迭代，盈利。" />
  <!--    <link href="/assets/canvas.css" media="screen" rel="stylesheet">  -->

      <%= stylesheet_link_tag "application", media: "all",
                                             "data-turbolinks-track" => true %>

<!--
      <style type="text/css">
          <%#= Rails.application.assets.find_asset('application.css').to_s.html_safe %>
      </style>                                             
-->
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>


      <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
    </head>
  <body>
      <div class="container">
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
<!--      <%= debug(params) if Rails.env.development? %>	-->
    </div>

  </body>
</html>